@import url("../css/styles.css"); /* IMPORTERES SÅ VI HAR ADGANG TIL VARIABLER */

/* ---------- general styling ---------- */




main {
	padding-top: 120px;
	text-align: center;
}

.back-btn {
	width: 40px;
	cursor: pointer;
	margin-left: 10px;
	position: fixed;
	top: 130px;
}

h1 {
	text-transform: uppercase;
	margin-top: -3px;
	padding-top: 50px;
	padding-bottom: 20px;
}

img  {
	width: 100%;
}

.menuIMG {
	width: 100%;
	margin-bottom: 30px;
	box-shadow: 3px 3px 8px #707070; 
}

.descript {
	width: 85%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

.menu_os {
	background-color: white;
	width: 165px;
	padding:5px 5px 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	margin-bottom: -10px;
}

.bg_menu  {
	background-color: var(--lightgreen);
	padding-bottom: 10px;

}

.bg_tekst {
	margin: 0 15px;
	border-radius: 10px;
}

.price {
	padding-top: 20px;
}

.ingre {
	width: 85%;
	padding-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
	padding-bottom: 20px;
}

h3 {
	color: var(--gray);
	padding-top: 20px;
	font-size: 1.2rem;
}

.fa-leaf {
	color: #c6cea5; 
	margin-right: 5px;
	transform: scaleX(-1);
}

.obs p {
	width: 85%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	padding-bottom: 20px;
}



.loginHer {
	font-size: 1rem;
	color: var(--gray);
}

.bestil {
	margin-top: 40px;
	margin-bottom: 40px;
}

h4  {
	color: #a0a97c;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 1.3rem;
}

.accordion {
    background-color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray);
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    display: flex;
    margin: 2px auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    border: 1px solid #83a09e;
    border-radius: 10px;
}
  
.accordion:after {
    content: '\002B';
    color: var(--blue);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.panel {
    display: block;
    margin: 10px auto 20px;
    width: 90%;
    padding: 0 18px;
    background-color: var(--lightGreen);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.hvidBox {
	background-color: white;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tekstFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #707070;
	padding-bottom: 3px;
	margin-bottom: 15px;
	gap: 5px;
}

.tekstFlex p {
	font-size: 1rem;
	text-align: left;
}

.hensyn p {
	width: 85%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2rem;
	padding-bottom: 20px;
}

.kommentar {
	  border: 1px solid #83a09e;
	  border-radius: 10px;
	  width: 85%;
	  padding: 35px;
	  font-size: 1.1rem;
	  
}

.itemsFlex {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.itemsFlex h3 {
	text-transform: uppercase;
	padding-bottom: 10px;
}

.itemsFlex p {
	font-size: 0.8rem;
	padding-bottom: 5px;
}
.selectNumberBox {
	display: flex;
	flex-direction: row;
	width: 60%;
	border: 1px solid #83a09e;
	align-items: center;
	justify-content: center;
	margin: 0 auto 10px;
	border-radius: 9px;
}

.selectNumberBox button {
	background-color: var(--blue);
	width: 33%;
	padding: 5px 30px;
	color: white;
	border-radius: 6px;
}

.selectNumberBox input {
	width: 35%;
	text-align: center;
}

.totalFlex {
	display: flex; 
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 20px;
}

.amountToPay {
	border: 1px solid var(--blue);
	padding: 5px;
	border-radius: 10%;
}

.tilfoj {
	background-color: var(--blue);
	color: white; 
	padding: 6px 45px; 
	font-size: 1.2rem;
	font-weight: 500;
	border-radius: 10px;
	box-shadow: 3px 3px 8px #707070; 
	margin-top: 10px;
	width: 60%;
}

.detmedsmat {
	display: block;
	margin: 50px auto;
	font-size: 1rem;
	width: 250px;
}