/* ---- Sofie ---- */
@import url(../css/styles.css);

main {
    width: 100%;
    display: block;
    margin: 0 auto;
}

main h1 {
    margin-top: 30px;
    padding: 20px;
}

main img {
    display: block;
    margin: 100px auto;
    width: 80%;
}

@media only screen and (min-width: 900px) {
    main img {
        max-width: 600px;
    }
}

.btn-box {
    display: flex;
    max-width: 400px;
    text-align: center;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%);
}

.btn {
    width: 148px;
    padding: 10px;
    border-radius: 10px;
    color: var(--lightGreen);
    border: 1px solid var(--blue);
    background-color: #ffffff;
}