main {
    padding-top: 120px;
    padding-bottom: 55px;
}

/* STEMNINGSBILLEDER */
.stemningsbillede1_pc {
    display: none;
}
.stemningsbillede2_pc {
    display: none;
}
.stemningsbillede3_pc {
    display: none;
}

.stemningsbillede1_mobile {
    background-image: url(../img/st-img/st-coffee-mini.jpg);
	background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    z-index: 99; 
}

.stemningsbillede2_mobile {
    background-image: url(../img/st-img/st-food-mini.jpg);
	background-attachment: fixed;
        background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    top: 0; 
    z-index: 99; 
}

.stemningsbillede3_mobile {
    background-image: url(../img/st-img/st-kage-mini.jpg);
	background-attachment: fixed;
        background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height: 500px;
    top: 0; 
    z-index: 99; 
}

/* stemningsbilleder - PC style */
@media only screen and (min-width: 1000px) {
    .stemningsbillede1_mobile {
        display: none; 
    }
    .stemningsbillede2_mobile {
        display: none; 
    }
    .stemningsbillede3_mobile {
        display: none; 
    }

    .stemningsbillede1_pc {
        display: block;
        background-image: url(../img/st-img/st-coffee.jpg);
	background-attachment: fixed;
    width: 100%;
    height: 900px;
    top: 0; 
    z-index: 99;
    }
    .stemningsbillede2_pc {
        display: block;
        background-image: url(../img/st-img/st-food.jpg);
	background-attachment: fixed;
    width: 100%;
    height: 900px;
    top: 0; 
    z-index: 99;
    }
    .stemningsbillede3_pc {
        display: block;
        background-image: url(../img/st-img/st-kage.jpg);
	    background-attachment: fixed;
        width: 100%;
        height: 900px;
        top: 0; 
        z-index: 99;
    }
}

/*  INFO SECTION */
.info_forside_section {
    padding: 80px 10px 80px;
    background: transparent; 
}

.info_forside_tekst {
    text-align: center;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.mere_link {
	text-align: center;
	text-decoration: none;
	color: var(--gray);
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 170px;
	align-items: center;
	margin-top: 60px;
}

.frem_billede {
	width: 40px;
}

/* Info section - PC style */
@media only screen and (min-width: 900px) {
    .info_forside_section {
        padding: 140px 80px;
    }

    .info_forside_tekst {
        width: 70%;
    }
}

/* MENU SECTION */
.menu_forside_section {
    margin: 40px 10px 80px;
}
.menu_forside_header {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.menu_forside_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu_forside_link {
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px; 
    height: 150px;
}

.img_style {
    background-size: cover;
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    padding-top: 40%;
    padding-bottom: 60%;
    color: white; 
    font-size: 0.8rem;
    font-weight: 600;
    box-shadow: 3px 3px 8px #707070; 
}

.menu_forside_img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/brunch1.jpg'); 
}
.menu_forside_img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/dengronne.jpg');
}
.menu_forside_img3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/denmedgrontsagsdeller.jpg');
}
.menu_forside_img4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/denmedlaks1.jpg');
}
.menu_forside_img5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/denmedkylling1.jpg');
}
.menu_forside_img6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/denmedpie1.jpg');
}
.menu_forside_img7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/denstore1.jpg');
}
.menu_forside_img8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/smoothie1.jpg');
}
.menu_forside_img9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/kage1.jpg');
}
.menu_forside_img10 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/majspandekager.jpg');
}
.menu_forside_img11 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/salat1.jpg');
}
.menu_forside_img12 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/sandwich1.jpg');
}

/* Menu section - pc style */
@media only screen and (min-width:900px) {
    .menu_forside_section {
        margin: 40px 80px 140px;
    }

    .menu_forside_header {
        margin-top: 140px;
    }

    .menu_forside_link {
        width: 200px; 
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .img_style {
        width: 200px; 
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.1rem;
    }
}


/* TRUSTPILOT */

.title {
  color: var(--gray);
  padding-bottom: 10px;
  margin-top: 10px;
  
}

.wrapper-left {
    text-align: center;
    margin-bottom: 60px;
}

.rating img {
  max-width: 240px;
  margin: auto;
}

.review_p {
    font-size: 1rem;
    margin-bottom: 30px;
    margin-top: 15px;
}
.review-count {
    color: var(--gray);
    font-weight: 600;
}

.tp_logo {
    width: 200px;
}

#reviews {
  padding: 0 5px;
  margin-bottom: 40px;
}

.row {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

#reviews h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.review-box {
  display: flex;
  position: relative;
  padding: 0;
}

.review-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 33px;
  position: absolute;
  height: calc(100% - 4px);
  border: 0;
  cursor: pointer;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}

.review-box .prev {
  left: 2px;
}

.review-box .prev img {
    width: 100%;
    padding-left: 5px;
}

.review-box .next {
  right: 2px;
}

.review-box .next img {
    width: 100%;
    padding-right: 5px;
}

.review {
  display: none;
  padding: 35px 45px;
  border-radius: 5px;
  border: 1px solid #83a09e;
  box-shadow: 2px 2px 10px #83a09e; 
  min-height: 20rem;
}

.review h3 {
    color: var(--gray);
    font-size: 1.3rem;
}

.review p {
    color: #707070;
    font-size: 1rem;
    line-height: 1.5;
}

.img-responsive {
    width: 140px;
}

.customer-name {
  display: block;
  margin-top: 20px;
  font-weight: 400;
  font-style: italic;
  text-align: right;
  color: var(--gray);
}