main {
    padding-top: 120px;
    padding-bottom: 55px;
}

/* MENU SECTION */
.menu_forside_header {
    text-align: center;
}

.menu_forside_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu_forside_link {
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px; 
    height: 200px;
}

.menu_forside_img1 {
    background-image: url(../img/brunch1.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img2 {
    background-image: url(../img/dengronne.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img3 {
    background-image: url(../img/denmedgrontsagsdeller.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img4 {
    background-image: url(../img/denmedlaks1.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img5 {
    background-image: url(../img/denmedkylling1.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img6 {
    background-image: url(../img/denmedpie1.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img7 {
    background-image: url(../img/denstore1.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img8 {
    background-image: url(../img/smoothie1.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img9 {
    background-image: url(../img/kage1.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img10 {
    background-image: url(../img/majspandekager.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img11 {
    background-image: url(../img/salat1.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}
.menu_forside_img12 {
    background-image: url(../img/sandwich1.jpg);
    background-size: cover;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
}

