/* ---- Simone ---- */
@import url("styles.css"); /* IMPORTERES SÅ VI HAR ADGANG TIL VARIABLER */


main {
    padding-top: 120px;
    padding-bottom: 0px;
}

.stemning {
    width: 100%;
    margin-bottom: 40px; 
    box-shadow: 3px 3px 8px #707070;
  
}

.tekst {
    margin: 20px;
    text-align: justify;
    font-size: 1.2rem;
    color: var(--gray);

}


.logo_pic {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
   
}

p {
    text-align: center;
}

.map {
   margin-top: 50px;
   margin-bottom: 50px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   
}

@media only screen and (min-width: 900px) {

    .tekst {
        margin-left: 150px;
        margin-right: 150px;
    }

    .flexbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 115px;
        margin-right: 115px;
    }
     
    .kontakt_box {
        display: block;
        width: 50%; 

    }

    .logo_pic {
        margin-top: -20px;
        width: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .stemnigsbillede {
        padding: 0 80px; 
    }

    .stemning {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .tekst {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .map {
        width: 45%;
    }
}