/* ---- Sofie ---- */
main {
    width: 100%;
    padding: 20px;
}

.back {
    padding-top: 120px;
    width: 40px;
  }

@media only screen and (min-width: 900px) {
    main {
        display: block;
        margin: 0 auto;
        max-width: 900px;
    }
}

main div img {
    width: 50px;
    cursor: pointer;
}

main h1 {
    text-align: center;
    margin: 20px 0;
}

main h2 {
    margin: 10px 0;
}

main p {
    margin-bottom: 40px;
}

main ul {
    font-size: 1.2rem;
    list-style: none;
    margin-bottom: 40px;
}

main ul li {
    margin-bottom: 10px;
}

main ul li::before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../img/icons/blad.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

main p span {
    font-style: italic;
}

main p a {
    text-decoration: none;
    color: var(--lightGreen);
    font-style: italic;
}

.back {
    width: 40px;
}