@import url("styles.css"); /* IMPORTERES SÅ VI HAR ADGANG TIL VARIABLER */

main {
    padding-top: 120px;
    padding-bottom: 0px;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}
.tekst {
    margin: 20px;
    text-align: justify;
    font-size: 1.2rem;
    color: var(--black);
}

.tekst2 {
    margin: 40px;
    text-align: center;
    font-size: 1rem;
    color: var(--black);
}



/*menu styling*/

.menuFlex {
    display: none;
}

.menu_flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.menu_link {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;

}

.menu_img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/brunch1.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    background: rgba(black, 0.5);
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;

}
.menu_img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/dengronne.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;


}
.menu_img3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/denmedgrontsagsdeller.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    padding-top: 65px;

}
.menu_img4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/denmedlaks1.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;

}
.menu_img5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/denmedkylling1.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;


}
.menu_img6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/denmedpie1.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;


}
.menu_img7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/denstore1.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;

}
.menu_img8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/smoothie1.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;

}
.menu_img9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/kage1.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;

  
}
.menu_img10 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/majspandekager.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;


}
.menu_img11 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/salat1.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;

}
.menu_img12 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.295)), url('../img/sandwich1.jpg');
    background-size: cover;
    width: 157px; 
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #707070; 
    padding-top: 65px;

}

@media only screen and (min-width: 900px) {

   .menu_img1 {
       width: 200px;

   } 

   .menu_img2 {
    width: 200px;
} 

.menu_img3 {
    width: 200px;
} 

.menu_img4 {
    width: 200px;
} 

.menu_img5 {
    width: 200px;
} 

.menu_img6 {
    width: 200px;
} 

.menu_img7 {
    width: 200px;
} 

.menu_img8 {
    width: 200px;
} 

.menu_img9 {
    width: 200px;
} 

.menu_img10 {
    width: 200px;
} 

.menu_img11 {
    width: 200px;
} 

.menu_img12 {
    width: 200px;
} 



}


@media only screen and (min-width: 1200px) {
    .menu_section {
        display: none;
    }

    .tekst {
        width: 80%;
        text-align: center; 
        display: block;
        margin-left: auto;
        margin-right: auto;   
    }

    .menuFlex {
        display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 10px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    .flip-card {
		background-color: transparent;
        width: 300px;
        height: 250px;
		border: 1px solid #f1f1f1;
		margin: 10px;
	}

	.flip-card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.8s;
		transform-style: preserve-3d;
	}

	.flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	}

	.flip-card-front,
	.flip-card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.flip-card-front {
		-webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .3));
		filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .3));
		color: black;
	}

	.flip-card-back {
		-webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .3));
		filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .3));
		color: white;
		transform: rotateY(180deg);
	}

    .menu_img1 {
        width: 300px;
        height: 250px;
    }
    .menu_img2 {
        width: 300px;
        height: 250px;
    }
    .menu_img3 {
        width: 300px;
        height: 250px;
    }
    .menu_img4 {
        width: 300px;
        height: 250px;
    }
    .menu_img5 {
        width: 300px;
        height: 250px;
    }
    .menu_img6 {
        width: 300px;
        height: 250px;
    }
    .menu_img7 {
        width: 300px;
        height: 250px;
    }
    .menu_img8 {
        width: 300px;
        height: 250px;
    }
    .menu_img9 {
        width: 300px;
        height: 250px;
    }
    .menu_img10 {
        width: 300px;
        height: 250px;
    }
    .menu_img11 {
        width: 300px;
        height: 250px;
    }
    .menu_img12 {
        width: 300px;
        height: 250px;
    }

    .menu_link {
        font-size: 1rem;
    }
}



