@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* ---- CSS RESET ---- */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* COLOR VARIABLES */
:root {
    --black: #131313;
    --lightGreen: #c6cea5; 
    --Green: #a0a97c;
    --blue: #83a09e;
    --gray: #707070;
}

html {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 500;
  height: 100%;
  background-color: #ffffff;
}

/* Det bliver lige rettet til. nu sætter jeg det bare lige op */
/* Font-size */
h1 {
  font-size: 2.3rem;
  color: var(--Green);
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: var(--Green);
  font-weight: 500;
}

h3 {
  font-size: 1.4rem;
  color: var(--lightGreen); 
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  color: var(--gray); 
}

/* MEDIA QUERY FOR DESKTOP */